<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 footer-col">
        <div class="brand-footer">SHOP<span>HUB</span></div>
        <p class="footer-text">We provide the best products with the best quality at the most affordable prices. Shop with confidence and enjoy our excellent customer service.</p>
        <div class="social-links">
          <a href="#" class="social-link">
            <i class="fa fa-facebook"></i>
          </a>
          <a href="#" class="social-link">
            <i class="fa fa-twitter"></i>
          </a>
          <a href="#" class="social-link">
            <i class="fa fa-instagram"></i>
          </a>
          <a href="#" class="social-link">
            <i class="fa fa-linkedin"></i>
          </a>
        </div>
      </div>
      
      <div class="col-lg-2 footer-col">
        <h4 class="footer-title">Quick Links</h4>
        <ul class="footer-links">
          <li><a href="#">Home</a></li>
          <li><a href="#">Products</a></li>
          <li><a href="#">Categories</a></li>
          <li><a href="#">Deals</a></li>
          <li><a href="#">About Us</a></li>
        </ul>
      </div>
      
      <div class="col-lg-2 footer-col">
        <h4 class="footer-title">Categories</h4>
        <ul class="footer-links">
          <li><a href="#">Electronics</a></li>
          <li><a href="#">Clothing</a></li>
          <li><a href="#">Home & Garden</a></li>
          <li><a href="#">Books</a></li>
          <li><a href="#">Wearables</a></li>
        </ul>
      </div>
      
      <div class="col-lg-4 footer-col">
        <h4 class="footer-title">Newsletter</h4>
        <p class="footer-text">Subscribe to our newsletter to receive updates on new products and special offers.</p>
        <div class="newsletter-form">
          <input type="email" class="newsletter-input" placeholder="Your email address">
          <button type="button" class="newsletter-btn">
            <i class="fa fa-paper-plane"></i>
          </button>
        </div>
        
        <h4 class="footer-title mt-4">Contact Us</h4>
        <ul class="contact-info">
          <li>
            <i class="fa fa-map-marker"></i>
            <span>123 Street, City, Country</span>
          </li>
          <li>
            <i class="fa fa-phone"></i>
            <span>+1 234 567 8901</span>
          </li>
          <li>
            <i class="fa fa-envelope"></i>
            <span>info&#64;shophub.com</span>
          </li>
        </ul>
      </div>
    </div>
    
    <div class="copyright">
      <p>&copy; {{ currentYear }} ShopHub. All Rights Reserved.</p>
    </div>
  </div>
</footer>
